<div id="roadmap"></div>
<div class=" grid_6">
  <div class="question">{{ question }}</div>
  <div>
    <div ng-show="responses.length > 1">
      <input x-ng-click="execute(responses[0])" type="radio" name="yes" value="0">Yes.
      <input x-ng-click="execute(responses[1])" type="radio" name="no" value="0">No.
      <input x-ng-click="execute(responses[2])" type="radio" name="idk" value="0">I don't know.
    </div>
    <div x-ng-show="showResponse || responses.length <= 1">
    <div class="response-text">{{ responseText }}</div>
      <div>
        <button x-ng-click="continue()">{{ continueButtonText }}</button>
      </div>
    </div>
  </div>
</div>
<div class="grid_6">
  <div class="resultset-header">My Results </div>
  <div x-ng-show="resultset.length">
    <ul x-ng-repeat="permit in resultset">
      <li>{{ permit.name | uppercase }}</li>
      <ul x-ng-repeat="item in permit.checklist">
        <li>{{ item }}</li>
      </ul>
      <ul x-ng-repeat="resource in permit.resources">
        <li>{{ resource }}</li>
      </ul>
    </ul>
  </div>
</div>
